
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/sign-in.css" rel="stylesheet">
  </head>

  <body class="text-center" style="background: linear-gradient(90deg, #363aba,#7a5e9c,#845f86);">
    <form method="POST" action="/admin_login" class="form-signin container bg-white" style="margin-top:200px;border-radius: 10px;padding: 20px;">
      <h2>PidQib</h2>

      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus><br>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
      </div>
      <input type="submit" class="btn btn-lg btn-primary btn-block" value="Connexion" />
    </form>
  </body>
</html>
