        <div class="flex-shrink-0 p-3 container" style="">
          <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
            <span class="fs-5 fw-semibold">PidQib Admin</span>
          </a>
          <ul class="list-unstyled ps-0">
          <h4>Qi-Verbs</h4>
            <li class="mb-1">
              <i class="bi bi-chat"></i> <a href="/verbs" style="text-decoration: none;color: black;">Gérer les verbes</a>
            </li>
            <li class="mb-1">
              <i class="bi bi-alarm"></i> <a href="/times" style="text-decoration: none;color: black;">Gérer les temps</a>
            </li>
            <br>

            <h4>Qi-Foot</h4>
            <li class="mb-1" style="">
              <i class="bi bi-person"></i> <a href="/players_manager" style="text-decoration: none;color: black;">Gérer les joueurs</a>
            </li>
             <br>

            <h4>Général</h4>
            <li class="mb-1" style="">
              <i class="bi bi-people-fill"></i> <a href="/manage_partners" style="text-decoration: none;color: black;">Gérer les partenaires</a>
            </li>
            <li class="mb-1" style="">
              <i class="bi bi-bell"></i> <a href="/manage_notifications" style="text-decoration: none;color: black;">Gérer les notifications</a>
            </li>
            <li class="mb-1" style="">
             <!-- <i class="bi bi-dice-3"></i> <a href="/manage_games" style="text-decoration: none;color: black;">Gérer les jeux</a> -->
            </li>
             <br>
            <li class="mb-1" style="">
              <i class="bi bi-box-arrow-right"></i> <a href="/disconnect" style="text-decoration: none;color: black;">Deconnexion</a>
            </li>
          </ul>
        </div> 